@font-face {
   font-family: 'Norse Bold';
   src: url('../fonts/Norse-Bold.otf') format('opentype');
   
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 62.5%;
}

button, input {
   font-family: inherit;
   font-size: 100%;
   appearance: none;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   height: 100vh;
   width: 100%;
   background-color: #f5f7fd;
   font-size: 1.6rem;

   color: #a4adc8;
   display: grid;
   grid-template-columns: 175px 6fr;
   grid-template-rows: minmax(min-content, 40px) 1fr;
   grid-template-areas: 
      "header header"
      "aside main";
}



.header {
   position: fixed;
   width: 100%;
   grid-area: header;
   background-color: #fff;
   display: grid;
   grid-template-columns: 175px 4fr minmax(120px, 1fr);
   align-items: center;
   padding: 10px 0;
   &__menu {
      padding: 0 20px;
      align-self: center;
   }

   &__list {
      display: flex;
      gap: 20px;
   }

   &__item i{
      position: relative;
      &::after {
         content: "";
         background-color: #d83d3a;
         height: 5px;
         width: 5px;
         border-radius: 50%;
         position: absolute;
         top: -4px;
         right: -6px;
         z-index: 1;
      }
      
   }

   &__list li:nth-of-type(3) i::after {
      right: -4px;
   } 

   &__list li:nth-of-type(4) i::after {
      right: -2px;
   } 

   &__search {
      justify-self: start;
      width: 100%;
      padding-left: 20px;
      & label {
         width: 100%;
      }
      & input {
         width: 90%;
         border: none;
         color: #a4adc8;
         font-size: 1.4rem;
         &::placeholder {
            color: #a4adc8;
            
         }
         &:active, &:focus, &:focus-visible {
            outline: none;
            border: none;
         }
      }
   }

   &__account {
      font-size: 1.4rem;
      justify-self: end;
      padding: 0 20px 0 0;
   }
}

.burger-menu {
   width: 18px;
   height: 14px; 
   cursor: pointer; 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   top: 1px;
}

.bar {
   width: 100%;
   height: 2px; /* Высота полоски меню бургер */
   background-color: #a4adc8; /* Цвет полоски меню бургер */
   border-radius: 2px; /* Делаем закругленные уголки у полосок */
   transition: transform 0.3s ease;
 }
 
 /* Добавляем анимацию на полоски меню бургер при клике */
 .burger-menu.active .bar:nth-child(1) {
   width: 70%;
   //transform: translateY(8px) rotate(45deg);
 }
 
 .burger-menu.active .bar:nth-child(2) {
   // opacity: 0;
 }
 
 .burger-menu.active .bar:nth-child(3) {
   width: 70%;
   //transform: translateY(-8px) rotate(-45deg);
 }

.aside {
   position: fixed;
   height: 100vh;
   grid-area: aside;
   padding: 58px 20px 20px 20px;
   display: grid;
   gap: 40px;
   grid-template-rows: min-content 1fr min-content;
   //position: relative;
   &__logo {
      width: 100%;
      //padding: 20px 0px 20px 0px;
      font-family: 'Norse Bold', sans-serif;
      text-align: center;
      //position: relative;
      &::after {
         padding: 0;
         background-color: rgb(1, 1, 1);
         opacity: 0.5;
         height: 100px;
         width: 100%;
         position: absolute;
         top: 38px;
         left: 0;
         content: '';
      }
      & a {
         text-decoration: none;
      }
      & span {
         position: relative;
         z-index: 1;
         display: block;
         color: #fff;
         font-size: min(2.6rem, 4rem);
         width: fit-content;
         margin: 0 auto;
         letter-spacing: 3px;
         &:nth-of-type(2){
            width: fit-content;
            border-top: 2px solid #fff;
         }
      }
   }

   &__menu {
      display: grid;
      grid-template-rows: repeat(auto-fill, 20px);
      // justify-content: start;
      // gap: 20px;
      // position: relative;
   }
   &__item.active, &__item:hover, &__support:hover {
      color: #0f1b41;
      & i::before {
         color: #00abda;
      }
   }
   &__item a{
      display: grid;
      grid-template-columns: 30px 1fr;
      // position: relative
      & i {

         // position: absolute;
      }
      & span{
         // position: absolute;
         // margin-left: 20px;
      
   }
   }

   

   &__support {
   }
}


.main {
   grid-area: main;
   padding: 58px 20px 20px 20px;
   &__greetings {
   }

   &__grid {
      display: grid;
   }

   &__summary {
   }

   &__card {
      border: 1px solid #00abda;
   }
}
.fa-regular {
}
.fa-sun {
}
.summary {

   &__card {
   }
}
.card {

   &__info {
   }

   &__number {
   }

   &__title {
   }

   &__icon {
   }

   &__header {
   }

   &__legend {
   }

   &__option {
   }

   &__table {
   }

   &__weather {
   }

   &__main {
   }

   &__data {
   }
}
.fa-solid {
}
.fa-person-walking-dashed-line-arrow-right {
}
.fa-flip-horizontal {
}
.total-revenue {
}
.bullet-green {
}
.bullet-blue {
}
.diagram {

   &__row {
   }
}
.metrics {

   &__item {
   }

   &__info {
   }

   &__diag {
   }
}
.rents-month {

   &__diag {
   }

   &__data {
   }
}
.info {

   &__block {
   }

   &__legend {
   }
}
.monthly-rents {
}
.card-maintenance {
}
.table-header {
}
.header {

   &__item {
   }
}
.fa-user {
}
.priority-card {
}
.low {
}
.action-details {
}
.medium {
}
.weather {

   &__temperatue {
   }

   &__data {
   }
}
.weekday {
}
.weather-place {
}
.subject {
}
.data {

   &__data {
   }
}
