@charset "UTF-8";
@font-face {
  font-family: "Norse Bold";
  src: url("../fonts/Norse-Bold.otf") format("opentype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

button, input, select {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: -moz-min-content;
  min-width: min-content;
  width: 100%;
  background-color: #f5f7fd;
  font-size: 1.6rem;
  color: #a1accf;
  display: grid;
  grid-template-columns: 175px 6fr;
  grid-template-rows: minmax(min-content, 40px) 1fr;
  grid-template-areas: "header header" "aside main";
}
body.active {
  grid-template-columns: 50px 6fr;
}

.header {
  position: fixed;
  width: 100%;
  grid-area: header;
  background-color: #fff;
  display: grid;
  grid-template-columns: 175px 4fr minmax(120px, 1fr);
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}
.header__menu {
  padding: 0 20px;
  align-self: center;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__item i {
  position: relative;
}
.header__item i::after {
  content: "";
  background-color: #d83d3a;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -6px;
  z-index: 1;
}
.header__list li:nth-of-type(3) i::after {
  right: -4px;
}
.header__list li:nth-of-type(4) i::after {
  right: -2px;
}
.header__search {
  justify-self: start;
  width: 100%;
  padding-left: 20px;
}
.header__search label {
  width: 100%;
}
.header__search input {
  width: 89%;
  border: none;
  color: #a4adc8;
  font-size: 1.4rem;
}
.header__search input::-moz-placeholder {
  color: #a4adc8;
}
.header__search input::placeholder {
  color: #a4adc8;
}
.header__search input:active, .header__search input:focus, .header__search input:focus-visible {
  outline: none;
  border: none;
}
.header__account {
  font-size: 1.4rem;
  justify-self: end;
  padding: 0 20px 0 0;
}

.burger-menu {
  width: 18px;
  height: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 1px;
  z-index: 999;
}

.bar {
  width: 100%;
  height: 2px; /* Высота полоски меню бургер */
  background-color: #a4adc8; /* Цвет полоски меню бургер */
  border-radius: 2px; /* Делаем закругленные уголки у полосок */
  transition: transform 0.3s ease;
}

/* Добавляем анимацию на полоски меню бургер при клике */
.burger-menu.active .bar:nth-child(1) {
  width: 70%;
}

.burger-menu.active .bar:nth-child(3) {
  width: 70%;
}

.aside {
  position: fixed;
  height: calc(100vh - 38px);
  grid-area: aside;
  margin: 38px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  z-index: 10;
  display: grid;
  grid-template-rows: min-content 1fr auto;
  max-width: 175px;
  overflow-x: hidden;
}
.aside.active {
  text-align: center;
  padding: 20px 10px 20px 10px;
}
.aside.active span {
  display: none;
}
.aside__logo {
  height: 100px;
  width: 100%;
  font-family: "Norse Bold", sans-serif;
  text-align: center;
}
.aside__logo::after {
  padding: 0;
  background-color: rgb(1, 1, 1);
  opacity: 0.5;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.aside__logo a {
  text-decoration: none;
}
.aside__logo span {
  position: relative;
  z-index: 1;
  display: block;
  color: #fff;
  font-size: 2.6rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: 3px;
}
.aside__logo span:nth-of-type(2) {
  width: -moz-fit-content;
  width: fit-content;
  border-top: 2px solid #fff;
}
.aside__logo p.aside__logoMobile {
  display: none;
}
.aside__logo p.aside__logoMobile.active {
  display: block;
  color: #fff;
  font-size: 2.6rem;
  position: relative;
  z-index: 1;
  padding: 17px 0px 0px 0px;
}
.aside__menu {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, max-content));
  height: -moz-min-content;
  height: min-content;
  gap: 10px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  overflow-x: hidden;
}
.aside__item.active, .aside__item:hover, .aside__support:hover {
  color: #0f1b41;
}
.aside__item.active i::before, .aside__item:hover i::before, .aside__support:hover i::before {
  color: #00abda;
}
.aside__item a {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.main {
  grid-area: main;
  padding: 20px;
  font-size: 1.4rem;
  width: min(1200px, 100%);
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main__title {
  color: #000;
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  font-size: 2.4rem;
}
.main__greetings {
  margin: 0px 0px 20px 0px;
}
.main__greetings span {
  margin: 0px 0px 0px 0px;
  font-size: 1.4rem;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
  gap: 10px;
}
.main__summary {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  width: 100%;
  gap: 10px;
}
.main__summary div:first-child .card__icon {
  background-color: #ddddfb;
}
.main__summary div:first-child .card__icon i {
  color: #5554e9;
}
.main__summary div:nth-child(2) .card__icon {
  background-color: #ffeecc;
}
.main__summary div:nth-child(2) .card__icon i {
  color: #ffab00;
}
.main__summary div:nth-child(3) .card__icon {
  background-color: #ffe7e7;
}
.main__summary div:nth-child(3) .card__icon i {
  color: #ff8886;
}
.main__card {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  padding: 20px 30px;
}

.summary__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.total-revenue {
  height: 268px;
}
.total-revenue__chart {
  width: 100%;
  height: 80%;
}
.total-revenue .card__header {
  margin: 0px 0px 10px 0px;
}

.card__number {
  font-size: 3.6rem;
  color: #000;
  font-weight: 700;
}
.card__icon {
  height: 50px;
  width: 50px;
  justify-self: end;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__icon i {
  font-size: 1.6rem;
}
.card__header {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
  align-items: start;
}
.card__header select {
  border: none;
  outline: none;
}
.card__header .card__title {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
}
.card__legend ul {
  display: flex;
  gap: 20px;
  position: relative;
  top: -10px;
}
.card__table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 20px;
}
.card__table table td, .card__table table th {
  border: 10px solid #fff;
  position: relative;
}
.card__table table td::after, .card__table table th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: rgba(164, 173, 200, 0.5);
  box-shadow: 1px 1px 1px rgba(89, 109, 72, 0.15);
}
.card__table table i {
  font-size: 2rem;
}
.card__table tbody {
  font-size: 1.4rem;
}
.card__table tbody tr {
  border-radius: 5px solid #000;
}
.card__table tr {
  height: 5rem;
}
.card__main {
  display: grid;
  grid-template-columns: 50px 70px 1fr;
  margin: 0px 0px 40px 0px;
  gap: 10px;
}
.card__main i {
  font-size: 4rem;
  color: #0087fb;
}
.card__data {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 20px;
}

.bullet-green, .bullet-blue {
  position: relative;
  padding: 10px 0px 0px 20px;
}

.bullet-green::before, .bullet-blue::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  background-color: #31c240;
  border-radius: 50%;
  top: 14px;
  left: 0px;
}

.bullet-blue::before {
  background-color: #4d2cee;
}

.metrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas: "title title" "item item" "item item";
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.metrics__header {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
.metrics__header select {
  border: none;
  outline: none;
}
.metrics__header .card__title {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
}
.metrics__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.metrics__diag i {
  position: relative;
  z-index: 2;
}
.metrics div:nth-child(2) .card__icon {
  background-color: #5234ef;
  position: relative;
  background-image: linear-gradient(180deg, transparent 50%, #ccc 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.metrics div:nth-child(2) .card__icon::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background: white;
  z-index: 1;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.metrics div:nth-child(3) .card__icon {
  background-color: #f4012b;
  position: relative;
  background-image: linear-gradient(220deg, transparent 50%, #ccc 50%), linear-gradient(130deg, #ccc 50%, transparent 50%);
}
.metrics div:nth-child(3) .card__icon::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background: white;
  z-index: 1;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.metrics div:nth-child(4) .card__icon {
  background-color: #ffae09;
  position: relative;
  background-image: linear-gradient(245deg, transparent 50%, #ccc 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.metrics div:nth-child(4) .card__icon::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background: white;
  z-index: 1;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.metrics div:nth-child(5) .card__icon {
  background-color: #0087fb;
  position: relative;
  background-image: linear-gradient(180deg, transparent 50%, #ccc 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
}
.metrics div:nth-child(5) .card__icon::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background: white;
  z-index: 1;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}

.rents-month {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "title title" "item item";
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.rents-month__diag {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: conic-gradient(#31c240 0deg 60deg, #ccc 60deg 310deg, #4d2cee 310deg 360deg);
  z-index: 1;
}
.rents-month__diag::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  background: white;
  z-index: 2;
  border-radius: 50%;
  left: 5px;
  top: 5px;
}
.rents-month__diag i {
  position: relative;
  z-index: 3;
}
.rents-month__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.monthly-rents {
  max-height: 290px;
}
.monthly-rents .card__header {
  margin: 0px 0px 20px 0px;
}
.monthly-rents__table {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  font-size: 11px;
}
.monthly-rents__table tr, .monthly-rents__table th, .monthly-rents__table td {
  position: absolute;
  bottom: 0;
  width: 20%;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}
.monthly-rents__table td {
  transition: all 0.3s ease;
}
.monthly-rents__table td:hover {
  background-color: #4d4d4d;
  opacity: 0.9;
  color: white;
}
.monthly-rents__table thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}
.monthly-rents__table thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}
.monthly-rents__table thead th.monthly-rents__collected {
  top: 0;
  left: 0;
  line-height: 2;
}
.monthly-rents__table thead th.monthly-rents__late {
  top: 0;
  left: 0;
  line-height: 2;
}
.monthly-rents__table tbody th {
  left: 30%;
}
.monthly-rents__table tbody tr {
  height: 96%;
  padding-top: 2px;
  color: #AAA;
  bottom: 27%;
}
.monthly-rents__table #m1 {
  left: 12%;
}
.monthly-rents__table #m2 {
  left: 30%;
}
.monthly-rents__table #m3 {
  left: 48%;
}
.monthly-rents__table #m4 {
  left: 66%;
}
.monthly-rents__table #m5 {
  left: 84%;
  border-right: none;
}
.monthly-rents__table tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}
.monthly-rents__table .bar {
  width: 2rem;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}
.monthly-rents__table .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: 0.4;
  z-index: 10;
  position: relative;
}
.monthly-rents__table .monthly-rents__collected {
  left: 20%;
  background-color: #57cd65;
  border-color: transparent;
}
.monthly-rents__table .monthly-rents__late {
  left: 50%;
  background-color: #5554e9;
  border-color: transparent;
}

#ticks {
  position: relative;
  bottom: 97%;
  left: 2px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 100%;
  bottom: 10%;
}

#ticks .tick p {
  position: absolute;
  left: 0;
  top: 70%;
  margin: 0 0 0 0.5em;
}

.card-maintenance .card__header {
  margin: 0px 0px 10px 0px;
}

.table-header {
  text-align: left;
}

.priority-card {
  padding: 3px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(89, 109, 72, 0.3);
  font-weight: 700;
}

.low {
  background-color: #dcf6df;
  color: #57cd65;
}

.action-details {
  -webkit-text-decoration: 1px solid underline;
          text-decoration: 1px solid underline;
  text-decoration-color: rgba(85, 84, 233, 0.3);
  text-underline-offset: 2px;
}

.medium {
  background-color: #cfecff;
  color: #1da2fa;
}

.weather__temperature {
  font-size: 4rem;
  color: #0087fb;
  font-family: math, sans-serif;
  font-weight: 700;
}
.weather__data {
  justify-self: center;
}

.weekday {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0px 0px 7px 0px;
}

.subject {
  grid-column: 1/2;
}

.data__data {
  grid-column: 2/3;
  color: #000;
}